@import 'base';
@import 'colors';

form {
    width: 90%;
    max-width: 30rem;
    margin: 0 auto;
    padding: 0 0 6.875rem;
}

input:not([type="submit"]) {
    border: 1px solid @light-gray;
    background-color: rgba(0,0,0,0);
    outline: none;
    color: @gray;
    display: block;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    vertical-align: top;
    border-radius: 4px;
    .border-box;
    width: 100%;

    .placeholder({
        vertical-align: top;
        color: @gray;
        font-size: 1rem;
        line-height: 1.5rem;
    });
}

input[type="submit"] {
    border: 0;
    outline: 0;
    background-color: rgba(0,0,0,0);
    font-size: 0;
    height: 4rem;
    padding: 1rem 1rem;
    position: absolute;
    background-image: url(../../img/icon-arrow.svg);
    background-position: 1rem 1rem;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    top: 1.25rem;
    right: 1.5rem;
    width: 4rem;
    cursor: pointer;

    .placeholder({
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 2.5rem;
    });
}

form .errors {
    padding-top: 1.5rem;

    li {
    	background-color: @red;
    	display: block;
    	color: @white;
        font-family: @sans;
    	padding: 1rem 1.5rem;
        border-radius: 4px;
    }
}


.form-control {
	margin-bottom: 1rem;
    position: relative;
	&.invalid {
		input {
			border-color: @red;
		}
	}
    &.hidden {
        display: none;
    }
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    .transform(translate(-50%, -50%));

    input:not([type="submit"]) {
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 2rem 7rem;
        background-image: url(../../img/icon-lock.svg);
        background-position: 2.5rem 2.125rem;
        background-size: 2rem 2rem;
        background-repeat: no-repeat;
        .placeholder({
            font-weight: 300;
            font-size: 1.5rem;
            line-height: 2.5rem;
        });
    }
}

@media screen and (max-width: @tablet-landscape-max) {
    .login-form {
        position: relative;
        top: auto;
        left: auto;
        .transform(none);
    }
    form {
        padding: 3rem 0;
    }
}

@media screen and (max-width: @tablet-portrait-max) {
    form {
        padding: 9rem 0 3.875rem;
    }
}


@media screen and (max-width: @phone-landscape-max) {
    .login-form {
        input:not([type="submit"]) {
            font-size: 1.75rem;
            line-height: 2.25rem;
            padding: 1rem 4.25rem;
            background-size: 1.25rem 1.25rem;
            background-position: 1.5rem 1.5rem;
        }
    }
    input[type="submit"] {
        height: 2.75rem;
        padding: 0.75rem;
        width: 2.75rem;
        top: 0.75rem;
        right: 0.75rem;
        background-position: 0.75rem 0.75rem;
        background-size: 1.25rem 1.25rem;
    }
    form {
        padding: 3.875rem 0;
    }

}
