asn1crypto==0.24.0
autobahn==0.5.14
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.3
enum34==1.1.6
freetype-py==1.0
idna==2.6
ipaddress==1.0.22
mercurial==4.5.3
pycparser==2.18
pyOpenSSL==17.5.0
pyserial==2.7
requests==2.18.4
sh==1.8
six==1.11.0
Twisted==19.7.0
urllib3==1.22
websocket-client==0.11.0
