.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
@font-face {
  font-family: 'Calibre';
  src: url('../../font/CalibreWeb-Regular.eot');
  src: url('../../font/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), url('../../font/CalibreWeb-Regular.woff') format('woff');
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
h1,
.h1 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 3.875rem;
  text-align: center;
  color: #19517f;
}
form {
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 6rem 0;
}
input:not([type="submit"]) {
  border: 1px solid #cccccc;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  color: #999999;
  display: block;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  vertical-align: top;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
input:not([type="submit"])::-webkit-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-ms-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
textarea {
  resize: vertical;
}
label {
  display: block;
  margin-bottom: 0.5rem;
}
input[type="submit"] {
  border-radius: 0;
  background-color: #ffffff;
  color: #999999;
  outline: none;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  text-align: center;
}
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"]:hover {
  background-color: #cccccc;
}
form .errors li {
  background-color: #ff3333;
  display: block;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
.form-control {
  margin-bottom: 1rem;
}
.form-control.invalid input {
  border-color: #ff3333;
}
.form-control.hidden {
  display: none;
}
.form-control.half {
  display: inline-block;
  width: 48%;
  float: left;
}
.form-control.half + .half {
  margin-left: 4%;
}
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login-form input:not([type="submit"]) {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 2rem 2rem 2rem 6.5rem;
  background-image: url(../../img/lock.svg);
  background-position: 2.125rem 2.125rem;
  background-size: 2.25rem 2.25rem;
  background-repeat: no-repeat;
}
.login-form input:not([type="submit"])::-webkit-input-placeholder {
  font-size: 2rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  font-size: 2rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 2rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-ms-input-placeholder {
  font-size: 2rem;
  line-height: 2.5rem;
}
@font-face {
  font-family: 'Calibre';
  src: url('../../font/CalibreWeb-Regular.eot');
  src: url('../../font/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), url('../../font/CalibreWeb-Regular.woff') format('woff');
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
h1,
.h1 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 3.875rem;
  text-align: center;
  color: #19517f;
}


.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
form {
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 6rem 0;
}
input:not([type="submit"]) {
  border: 1px solid #cccccc;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  color: #999999;
  display: block;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  vertical-align: top;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
input:not([type="submit"])::-webkit-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-ms-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
textarea {
  resize: vertical;
}
label {
  display: block;
  margin-bottom: 0.5rem;
}
input[type="submit"] {
  border-radius: 0;
  background-color: #ffffff;
  color: #999999;
  outline: none;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  text-align: center;
}
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"]:hover {
  background-color: #cccccc;
}
form .errors li {
  background-color: #ff3333;
  display: block;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
.form-control {
  margin-bottom: 1rem;
}
.form-control.invalid input {
  border-color: #ff3333;
}
.form-control.hidden {
  display: none;
}
.form-control.half {
  display: inline-block;
  width: 48%;
  float: left;
}
.form-control.half + .half {
  margin-left: 4%;
}
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login-form input:not([type="submit"]) {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 2rem 2rem 2rem 6.5rem;
  background-image: url(../../img/lock.svg);
  background-position: 2.125rem 2.125rem;
  background-size: 2.25rem 2.25rem;
  background-repeat: no-repeat;
}
.login-form input:not([type="submit"])::-webkit-input-placeholder {
  font-size: 2rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  font-size: 2rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 2rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-ms-input-placeholder {
  font-size: 2rem;
  line-height: 2.5rem;
}
@font-face {
  font-family: 'Calibre';
  src: url('../../font/CalibreWeb-Regular.eot');
  src: url('../../font/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), url('../../font/CalibreWeb-Regular.woff') format('woff');
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
h1,
.h1 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 3.875rem;
  text-align: center;
  color: #19517f;
}
form {
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 6rem 0;
}
input:not([type="submit"]) {
  border: 1px solid #cccccc;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  color: #999999;
  display: block;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  vertical-align: top;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
input:not([type="submit"])::-webkit-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-ms-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
textarea {
  resize: vertical;
}
label {
  display: block;
  margin-bottom: 0.5rem;
}
input[type="submit"] {
  border-radius: 0;
  background-color: #ffffff;
  color: #999999;
  outline: none;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  text-align: center;
}
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"]:hover {
  background-color: #cccccc;
}
form .errors li {
  background-color: #ff3333;
  display: block;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
.form-control {
  margin-bottom: 1rem;
}
.form-control.invalid input {
  border-color: #ff3333;
}
.form-control.hidden {
  display: none;
}
.form-control.half {
  display: inline-block;
  width: 48%;
  float: left;
}
.form-control.half + .half {
  margin-left: 4%;
}
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login-form input:not([type="submit"]) {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 2rem 2rem 2rem 6.5rem;
  background-image: url(../../img/lock.svg);
  background-position: 2.125rem 2.125rem;
  background-size: 2.25rem 2.25rem;
  background-repeat: no-repeat;
}
.login-form input:not([type="submit"])::-webkit-input-placeholder {
  font-size: 2rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  font-size: 2rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 2rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-ms-input-placeholder {
  font-size: 2rem;
  line-height: 2.5rem;
}

.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
form {
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 6rem 0;
}
input:not([type="submit"]) {
  border: 1px solid #cccccc;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  color: #999999;
  display: block;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  vertical-align: top;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
input:not([type="submit"])::-webkit-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-ms-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
textarea {
  resize: vertical;
}
label {
  display: block;
  margin-bottom: 0.5rem;
}
input[type="submit"] {
  border-radius: 0;
  background-color: #ffffff;
  color: #999999;
  outline: none;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  text-align: center;
}
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"]:hover {
  background-color: #cccccc;
}
form .errors li {
  background-color: #ff3333;
  display: block;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
.form-control {
  margin-bottom: 1rem;
}
.form-control.invalid input {
  border-color: #ff3333;
}
.form-control.hidden {
  display: none;
}
.form-control.half {
  display: inline-block;
  width: 48%;
  float: left;
}
.form-control.half + .half {
  margin-left: 4%;
}
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login-form input:not([type="submit"]) {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 2rem 2rem 2rem 6.5rem;
  background-image: url(../../img/lock.svg);
  background-position: 2.125rem 2.125rem;
  background-size: 2.25rem 2.25rem;
  background-repeat: no-repeat;
}
.login-form input:not([type="submit"])::-webkit-input-placeholder {
  font-size: 2rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  font-size: 2rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 2rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-ms-input-placeholder {
  font-size: 2rem;
  line-height: 2.5rem;
}
@font-face {
  font-family: 'Calibre';
  src: url('../../font/CalibreWeb-Regular.eot');
  src: url('../../font/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), url('../../font/CalibreWeb-Regular.woff') format('woff');
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
h1,
.h1 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 3.875rem;
  text-align: center;
  color: #19517f;
}
.logo {
  display: block;
  height: 44px;
  max-width: 100%;
  position: fixed;
  bottom: 7.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.logo > svg {
  height: 44px;
  left: 0;
}
.logo > svg rect,
.logo > svg polygon {
  fill: #f2f2f2;
}

.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
