@media screen and (min-width: 1921px) {
  html,
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 1920px) {
  html,
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 1440px) {
  html,
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  html,
  body {
    font-size: 15px;
  }
}
@media screen and (min-width: 641px) {
  .mobile-only {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  html,
  body {
    font-size: 14px;
  }
  .hide-mobile {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 319px) {
  html,
  body {
    font-size: 7px;
  }
}
@media screen and (max-width: 240px) {
  html,
  body {
    font-size: 5px;
  }
}
.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Calibre';
  src: url('../../font/CalibreWeb-Regular.eot');
  src: url('../../font/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), url('../../font/CalibreWeb-Regular.woff') format('woff');
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
h1,
.h1 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 3.875rem;
  text-align: center;
  color: #19517f;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  h1,
  .h1 {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 768px) {
  h1,
  .h1 {
    margin-bottom: 3.875rem;
  }
}
@media screen and (max-width: 1024px) {
  h1,
  .h1 {
    margin-bottom: 2.25rem;
  }
}
form {
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 0 6.875rem;
}
input:not([type="submit"]) {
  border: 1px solid #cccccc;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  color: #999999;
  display: block;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  vertical-align: top;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
input:not([type="submit"])::-webkit-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-ms-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input[type="submit"] {
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0;
  height: 4rem;
  padding: 1rem 1rem;
  position: absolute;
  background-image: url(../../img/icon-arrow.svg);
  background-position: 1rem 1rem;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  top: 1.25rem;
  right: 1.5rem;
  width: 4rem;
  cursor: pointer;
}
input[type="submit"]::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
input[type="submit"]:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
input[type="submit"]::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
input[type="submit"]:-ms-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
form .errors {
  padding-top: 1.5rem;
}
form .errors li {
  background-color: #ff3333;
  display: block;
  color: #ffffff;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  padding: 1rem 1.5rem;
  border-radius: 4px;
}
.form-control {
  margin-bottom: 1rem;
  position: relative;
}
.form-control.invalid input {
  border-color: #ff3333;
}
.form-control.hidden {
  display: none;
}
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login-form input:not([type="submit"]) {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 2rem 7rem;
  background-image: url(../../img/icon-lock.svg);
  background-position: 2.5rem 2.125rem;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
}
.login-form input:not([type="submit"])::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-ms-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
@media screen and (max-width: 1024px) {
  .login-form {
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
  }
  form {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 768px) {
  form {
    padding: 9rem 0 3.875rem;
  }
}
@media screen and (max-width: 640px) {
  .login-form input:not([type="submit"]) {
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding: 1rem 4.25rem;
    background-size: 1.25rem 1.25rem;
    background-position: 1.5rem 1.5rem;
  }
  input[type="submit"] {
    height: 2.75rem;
    padding: 0.75rem;
    width: 2.75rem;
    top: 0.75rem;
    right: 0.75rem;
    background-position: 0.75rem 0.75rem;
    background-size: 1.25rem 1.25rem;
  }
  form {
    padding: 3.875rem 0;
  }
}
@font-face {
  font-family: 'Calibre';
  src: url('../../font/CalibreWeb-Regular.eot');
  src: url('../../font/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), url('../../font/CalibreWeb-Regular.woff') format('woff');
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
h1,
.h1 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 3.875rem;
  text-align: center;
  color: #19517f;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  h1,
  .h1 {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 768px) {
  h1,
  .h1 {
    margin-bottom: 3.875rem;
  }
}
@media screen and (max-width: 1024px) {
  h1,
  .h1 {
    margin-bottom: 2.25rem;
  }
}


@media screen and (min-width: 1921px) {
  html,
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 1920px) {
  html,
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 1440px) {
  html,
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  html,
  body {
    font-size: 15px;
  }
}
@media screen and (min-width: 641px) {
  .mobile-only {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  html,
  body {
    font-size: 14px;
  }
  .hide-mobile {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 319px) {
  html,
  body {
    font-size: 7px;
  }
}
@media screen and (max-width: 240px) {
  html,
  body {
    font-size: 5px;
  }
}
.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form {
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 0 6.875rem;
}
input:not([type="submit"]) {
  border: 1px solid #cccccc;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  color: #999999;
  display: block;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  vertical-align: top;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
input:not([type="submit"])::-webkit-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-ms-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input[type="submit"] {
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0;
  height: 4rem;
  padding: 1rem 1rem;
  position: absolute;
  background-image: url(../../img/icon-arrow.svg);
  background-position: 1rem 1rem;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  top: 1.25rem;
  right: 1.5rem;
  width: 4rem;
  cursor: pointer;
}
input[type="submit"]::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
input[type="submit"]:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
input[type="submit"]::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
input[type="submit"]:-ms-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
form .errors {
  padding-top: 1.5rem;
}
form .errors li {
  background-color: #ff3333;
  display: block;
  color: #ffffff;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  padding: 1rem 1.5rem;
  border-radius: 4px;
}
.form-control {
  margin-bottom: 1rem;
  position: relative;
}
.form-control.invalid input {
  border-color: #ff3333;
}
.form-control.hidden {
  display: none;
}
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login-form input:not([type="submit"]) {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 2rem 7rem;
  background-image: url(../../img/icon-lock.svg);
  background-position: 2.5rem 2.125rem;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
}
.login-form input:not([type="submit"])::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-ms-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
@media screen and (max-width: 1024px) {
  .login-form {
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
  }
  form {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 768px) {
  form {
    padding: 9rem 0 3.875rem;
  }
}
@media screen and (max-width: 640px) {
  .login-form input:not([type="submit"]) {
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding: 1rem 4.25rem;
    background-size: 1.25rem 1.25rem;
    background-position: 1.5rem 1.5rem;
  }
  input[type="submit"] {
    height: 2.75rem;
    padding: 0.75rem;
    width: 2.75rem;
    top: 0.75rem;
    right: 0.75rem;
    background-position: 0.75rem 0.75rem;
    background-size: 1.25rem 1.25rem;
  }
  form {
    padding: 3.875rem 0;
  }
}
@font-face {
  font-family: 'Calibre';
  src: url('../../font/CalibreWeb-Regular.eot');
  src: url('../../font/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), url('../../font/CalibreWeb-Regular.woff') format('woff');
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
h1,
.h1 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 3.875rem;
  text-align: center;
  color: #19517f;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  h1,
  .h1 {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 768px) {
  h1,
  .h1 {
    margin-bottom: 3.875rem;
  }
}
@media screen and (max-width: 1024px) {
  h1,
  .h1 {
    margin-bottom: 2.25rem;
  }
}
form {
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 0 6.875rem;
}
input:not([type="submit"]) {
  border: 1px solid #cccccc;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  color: #999999;
  display: block;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  vertical-align: top;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
input:not([type="submit"])::-webkit-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-ms-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input[type="submit"] {
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0;
  height: 4rem;
  padding: 1rem 1rem;
  position: absolute;
  background-image: url(../../img/icon-arrow.svg);
  background-position: 1rem 1rem;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  top: 1.25rem;
  right: 1.5rem;
  width: 4rem;
  cursor: pointer;
}
input[type="submit"]::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
input[type="submit"]:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
input[type="submit"]::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
input[type="submit"]:-ms-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
form .errors {
  padding-top: 1.5rem;
}
form .errors li {
  background-color: #ff3333;
  display: block;
  color: #ffffff;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  padding: 1rem 1.5rem;
  border-radius: 4px;
}
.form-control {
  margin-bottom: 1rem;
  position: relative;
}
.form-control.invalid input {
  border-color: #ff3333;
}
.form-control.hidden {
  display: none;
}
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login-form input:not([type="submit"]) {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 2rem 7rem;
  background-image: url(../../img/icon-lock.svg);
  background-position: 2.5rem 2.125rem;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
}
.login-form input:not([type="submit"])::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-ms-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
@media screen and (max-width: 1024px) {
  .login-form {
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
  }
  form {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 768px) {
  form {
    padding: 9rem 0 3.875rem;
  }
}
@media screen and (max-width: 640px) {
  .login-form input:not([type="submit"]) {
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding: 1rem 4.25rem;
    background-size: 1.25rem 1.25rem;
    background-position: 1.5rem 1.5rem;
  }
  input[type="submit"] {
    height: 2.75rem;
    padding: 0.75rem;
    width: 2.75rem;
    top: 0.75rem;
    right: 0.75rem;
    background-position: 0.75rem 0.75rem;
    background-size: 1.25rem 1.25rem;
  }
  form {
    padding: 3.875rem 0;
  }
}


@media screen and (min-width: 1921px) {
  html,
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 1920px) {
  html,
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 1440px) {
  html,
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  html,
  body {
    font-size: 15px;
  }
}
@media screen and (min-width: 641px) {
  .mobile-only {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  html,
  body {
    font-size: 14px;
  }
  .hide-mobile {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 319px) {
  html,
  body {
    font-size: 7px;
  }
}
@media screen and (max-width: 240px) {
  html,
  body {
    font-size: 5px;
  }
}

@media screen and (min-width: 1921px) {
  html,
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 1920px) {
  html,
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 1440px) {
  html,
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  html,
  body {
    font-size: 15px;
  }
}
@media screen and (min-width: 641px) {
  .mobile-only {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  html,
  body {
    font-size: 14px;
  }
  .hide-mobile {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 319px) {
  html,
  body {
    font-size: 7px;
  }
}
@media screen and (max-width: 240px) {
  html,
  body {
    font-size: 5px;
  }
}
.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form {
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 0 6.875rem;
}
input:not([type="submit"]) {
  border: 1px solid #cccccc;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  color: #999999;
  display: block;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  vertical-align: top;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
input:not([type="submit"])::-webkit-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input:not([type="submit"]):-ms-input-placeholder {
  vertical-align: top;
  color: #999999;
  font-size: 1rem;
  line-height: 1.5rem;
}
input[type="submit"] {
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0;
  height: 4rem;
  padding: 1rem 1rem;
  position: absolute;
  background-image: url(../../img/icon-arrow.svg);
  background-position: 1rem 1rem;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  top: 1.25rem;
  right: 1.5rem;
  width: 4rem;
  cursor: pointer;
}
input[type="submit"]::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
input[type="submit"]:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
input[type="submit"]::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
input[type="submit"]:-ms-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
form .errors {
  padding-top: 1.5rem;
}
form .errors li {
  background-color: #ff3333;
  display: block;
  color: #ffffff;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  padding: 1rem 1.5rem;
  border-radius: 4px;
}
.form-control {
  margin-bottom: 1rem;
  position: relative;
}
.form-control.invalid input {
  border-color: #ff3333;
}
.form-control.hidden {
  display: none;
}
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login-form input:not([type="submit"]) {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 2rem 7rem;
  background-image: url(../../img/icon-lock.svg);
  background-position: 2.5rem 2.125rem;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
}
.login-form input:not([type="submit"])::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-moz-placeholder {
  /* Firefox 18- */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"])::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.login-form input:not([type="submit"]):-ms-input-placeholder {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
@media screen and (max-width: 1024px) {
  .login-form {
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
  }
  form {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 768px) {
  form {
    padding: 9rem 0 3.875rem;
  }
}
@media screen and (max-width: 640px) {
  .login-form input:not([type="submit"]) {
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding: 1rem 4.25rem;
    background-size: 1.25rem 1.25rem;
    background-position: 1.5rem 1.5rem;
  }
  input[type="submit"] {
    height: 2.75rem;
    padding: 0.75rem;
    width: 2.75rem;
    top: 0.75rem;
    right: 0.75rem;
    background-position: 0.75rem 0.75rem;
    background-size: 1.25rem 1.25rem;
  }
  form {
    padding: 3.875rem 0;
  }
}
@font-face {
  font-family: 'Calibre';
  src: url('../../font/CalibreWeb-Regular.eot');
  src: url('../../font/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), url('../../font/CalibreWeb-Regular.woff') format('woff');
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
h1,
.h1 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 3.875rem;
  text-align: center;
  color: #19517f;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  h1,
  .h1 {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 768px) {
  h1,
  .h1 {
    margin-bottom: 3.875rem;
  }
}
@media screen and (max-width: 1024px) {
  h1,
  .h1 {
    margin-bottom: 2.25rem;
  }
}
.logo {
  display: block;
  height: 44px;
  max-width: 100%;
  position: fixed;
  bottom: 7.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.logo > svg {
  height: 44px;
  left: 0;
}
.logo > svg rect,
.logo > svg polygon {
  fill: #cccccc;
}
@media screen and (max-width: 640px) {
  .logo {
    position: relative;
    bottom: auto;
    padding: 3rem 0;
    marign: 0 auto;
    text-align: center;
    height: 33px;
  }
  .logo > svg {
    height: 33px;
  }
}

.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
