{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block body %}
<form class="login-form" autocomplete="off" method="POST" action="{{ url_for('main.authenticate', project=project) }}">
    {{ form.csrf_token }}
    <h1>{{ project.name }}</h1>
    {{ macros.render_field(form.slug, hidden=True, value=project.slug) }}

    {{ macros.render_field(form.password,
    					   size=20,
    					   autocomplete="off",
                           label=False,
    					   placeholder='Password') }}
    <div class="form-control hidden">
        <input type="submit" value="Go" >
    </div>
</form>
<div class="logo">
    {% include "minimill-logo.svg" %}
</div>
{% endblock %}